.svelte-kit
build
dist
node_modules
artifacts/context
tasks/G0
tasks/G1
tasks/G2
tasks/G3
tasks/G4
tasks/G5
tasks/G6
tasks/G7
clusters/G0
clusters/G1
clusters/G2
clusters/G3
clusters/G4
clusters/G5
clusters/G6
clusters/G7
pnpm-lock.yaml
